.DS_Store

Thumbs.db
desktop.ini

.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.log
*.tmp
*.swp
.gocache/

/bin/
/coverage.out
*.test
*.exe
*.dll
*.so
*.dylib
vendor/

*.o
*.obj
*.a
*.lib
*.out
*.class
*.pch

.env

dist/
tmp/
.vscod/

code-quality-report.json

bin/
code-quality-report.json
.build/config/local.yaml
.build/config/notification.yaml

swagger.json
swagger.yaml

.netrc
